<div class="container">
  <div class="aboutContainer">
    <h2>
      <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
        >About Me</span
      >
      <span
        class="headingSub"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Here you will find more information about me, what I do, and my current
        skills mostly in terms of programming and technology.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-right"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          Get to know me!
        </h3>
        <div class="aboutContentDetails">
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-right"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            I'm a passionate and dedicated Java
            <strong>Full-Stack Web Developer</strong> with a proven track record
            of creating <strong>robust</strong> and
            <strong>scalable</strong> web applications. My expertise spans both
            front-end and back-end technologies, including Java, Spring Boot and
            Angular. With a keen eye for design and a commitment to clean,
            efficient code, I strive to deliver exceptional user experiences. I
            excel in problem-solving and collaborating with cross-functional
            teams to deliver innovative solutions. I'm excited to leverage my
            skills to tackle new challenges and drive innovation in the world of
            Full Stack development.
          </p>
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-right"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            I also like sharing content related to the stuff that I have learned
            over the years in <strong>Web Development</strong> so it can help
            other people of the Dev Community. Feel free to Connect or Follow me
            on my
            <a
              rel="noreferrer"
              href="https://linkedin.com/in/juyel-hushen-770674170"
              target="_blank"
              >Linkedin</a
            >
            where I post useful content related to Web Development and
            Programming.
          </p>
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-left"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            I'm open to <strong>Job</strong> opportunities where I can
            contribute, learn and grow. If you have a good opportunity that
            matches my skills and experience then don't hesitate to
            <strong>contact</strong> me.
          </p>
        </div>
        <div
          class="btn"
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <button mat-raised-button (click)="redirectToContct()">
            Contact
          </button>
        </div>
      </div>
      <div class="aboutContentSkills">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          My Skills
        </h3>
        <div
          class="skills"
          data-aos="fade-up-left"
          data-aos-delay="180"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/html.png"
              id="html"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/css.png"
              id="css"
            />
          </div>
          <div class="skillsIcon">
            <img
            class="imgResponsive"
            src="../../../assets/skills/js.png"
            id="js"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/scss.webp"
              id="scss"
            />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/Java.jpg" />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/bootstrap.png"
              id="bootstrap"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/spring-boot.png"
              id="spring boot"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/angular.png"
              id="angular"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/github.png"
              id="github"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/TypeScript.png"
              id="TypeScript"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/sql.png"
              id="SQL"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/Postgresql.png"
              id="postgres"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/grafana.png"
              id="grafana"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/redis.png"
              id="redis"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/docker.png"
              id="docker"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/outsystem.png"
              id="outsystem"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
