<div class="container">
  <div class="homeContainer">
    <div class="socialIcons" *ngIf="isMobile">
      <div class="button fbBtn">
        <div class="icon">
          <i class="bx bxl-facebook" (click)="redirectToFB()"></i>
        </div>
        <span>Facebook</span>
      </div>
      <div class="button linBtn">
        <div class="icon" (click)="redirectToLinkdin()">
          <i class="bx bxl-linkedin"></i>
        </div>
        <span>Linkedin</span>
      </div>
      <div class="button instaBtn">
        <div class="icon">
          <i class="bx bxl-instagram-alt" (click)="redirectToInsta()"></i>
        </div>
        <span>Instagram</span>
      </div>
      <div class="button gitBtn">
        <div class="icon">
          <i class="bx bxl-github" (click)="redirectToGithub()"></i>
        </div>
        <span>Github</span>
      </div>
      <div class="button youBtn">
        <div class="icon">
          <i class="bx bxl-youtube" (click)="redirectToYoutube()"></i>
        </div>
        <span>Youtube</span>
      </div>
    </div>
    <div class="homeContent">
      <h1
        class="name"
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Hey, I'm Juyel Hushen
      </h1>
      <div class="info">
        <p
        >
          I'm a Full Stack Web developer based in Chennai, Taminadu, India. I
          have worked on many types of Full-Stack from fintech applications to
          Ecommerce booking platforms.
        </p>
      </div>
      <div class="btn">
        <button (click)="redirectToProject()"><span></span> Projects</button>
      </div>
    </div>
    <div class="email" *ngIf="isMobile">
      <a href="mailto:juyelhushen@gmail.com">juyelhushen@gmail.com</a>
    </div>
    <div class="scrollDown" (click)="redirectToAbout()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
